<app-nav-bar></app-nav-bar>
<app-side-nav></app-side-nav>
<div class="main">
            
                  
   <div class = "cont1">
         <div>
            <a><img class="avat1" src="/src/assets/images/pr.png" style="height: 50px; width: 50px;">Kim De Leon
                  <a style="color:black">Likes your post.</a>
            </a>
         </div>
      </div>
     
    <div class="cont1">
            <div>
            <a><img class="avat1" src="/src/assets/images/pr.png" style="height: 50px; width: 50px;">Ernest Oliquino
                  <a style="color:black">Commented on your post.</a>
            </a>
      </div>

    </div>
    
</div>      