@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        a i p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.3em;
            font-weight: 400;
            line-height: 1.7em;
            color: white;
        }
        a i button {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 1.0em;
            font-weight: 400;
            line-height: 1.7em;
            color: white;
        }
.chumicon{
    border: 2px;
    border-color: white;
    border-style: solid;
    border-top: 6px;
    border-left: 6px;
    border-right: 6px;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: lightcoral;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
  }
  
  .sidebar a {
    display: block;
    color: black;
    margin-bottom: 40px;
    text-decoration: none;
    text-align:center;
  }
   
 
  
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .avat{
      width: 100px;
      height: 100px;
      
      border-radius: 50px;
      background-color: white;
  }

.dropdown-menu{
  width: 100%;
  font-size:10px;
  
}

.lock:hover .icon-unlock, .lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock{
    display: inline;
}

::-webkit-scrollbar { 
    display: none; 
}

  .collapsible {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible1 {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
}
#showHide{
    display: none;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
