<div class="sidebar container">
    
    <a class="chumicon"><img src="/src/assets/images/chum2.PNG" style="height: 70px; width: 70px; padding: 20px: 10px; margin-bottom: 8px; "></a>

    
    
  <a><img class="avat" src="/src/assets/images/prof.png" style="height: 50px; width: 50px; ">
    </a>
    
    <a class="lock">
        <i class="icon-unlock">
            <img src="/src/assets/images/home.png" style="height: 35px; width: 75px"><p>HOME</p>
        </i>
        <i class="icon-lock">
            <img src="/src/assets/images/homehover.png" style="height: 40px; width: 80px"><p style="color: grey;">HOME</p>
        </i>
    </a>
    
    
    <a class="lock">
        <i class="icon-unlock">
            <img src="/src/assets/images/notif.PNG" style="height: 35px; width: 75px"><p>NOTIFICATION</p>
        </i>
        <i class="icon-lock">
            <img src="/src/assets/images/notifhover.PNG" style="height: 40px; width: 90px"><p style="color: grey">NOTIFICATION</p>
        </i>
    </a>
    
    <a class="lock">
        <i class="icon-unlock">
            <img src="/src/assets/images/friend.PNG" style="height: 35px; width: 75px"><p >CHUM REQUEST</p>
        </i>
        <i class="icon-lock">
            <img src="/src/assets/images/friendhover.PNG" style="height: 40px; width: 90px"><p style="color: grey">CHUM REQUEST</p>
        </i>
    </a>
    
    
    <a class="lock" style="margin-bottom: 15px;">
        <i class="icon-unlock">
            <img src="/src/assets/images/saved.png" style="height: 35px; width: 75px"><p>PINNED POST</p>
        </i>
        <i class="icon-lock">
            <img src="/src/assets/images/savedhover.PNG" style="height: 40px; width: 90px"><p style="color: grey">PINNED POST</p>
        </i>
    </a>
    
   
        <a class="lock" >
            <i class="icon-unlock">
                <button id="show" class="collapsible" ><img src="/src/assets/images/settings.PNG" style="height: 35px; width: 75px"><p>SETTINGS</p></button>
                
            </i>
            <i class="icon-lock">
                <button id="hide" class="collapsible" ><img src="/src/assets/images/settingshover.PNG" style="height: 40px; width: 90px; "><p style="color: grey">SETTINGS</p></button>
            </i>
            
            <div id="showHide" >
                    <a style="color: white;" href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp; EDIT PROFILE</a>
                    <a style="color: white;" href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp; ACCOUNT <br>&nbsp;&nbsp;&nbsp; SETTINGS</a>
                    <a style="color: white; " href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp; LOGOUT</a>
                  
              </div>
        </a>
        
 
</div>
