body{
    margin: 0;
    padding: 0;
    
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
  
  }
  
  
  #menu{
      overflow: auto;
    width: 47%;
    height: 100%;
    padding: 25px;
    right: -100px;
    background-color: lightgray;
    margin-top: 80px;
    position: fixed;
    z-index: 3;
  
  }
  .global{
      width: 450px;
      height: 250px;
      background-color:white;
      border: solid 3px lightcoral;
      border-radius: 5px;
  }

@media (max-width: 990px) {
    .global{
        width: 70%;
    }
    
}

@media (max-width: 730px) {
    #menu{
        display: none;
    }
    
}