.main {
  
    background-color: lightgray;
    padding-left: 85px;
    padding-top: 100px;
    height: 1500px; /* Used in this example to enable scrolling */
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto 500px;
    width: 20px;

  }
  
  .pic {
    grid-area: 1 / 1 / span 5 / span 3;

    
  }
.colorfont{
	color: lightcoral;
	font-size: 20px;
	text-align: left;
	padding-left: 50px;
}
.style2{
	font-size: 14px;
	padding-top: 10px;
    margin-right: 10px;
    padding-left: 50px;
}
.panel{
    width: 52%;
    height: 250px;
    padding: 20px;	
    margin-left: 60px;
    border: solid 3px lightcoral;
}
img{
    float: left;
}
.name{
    font-weight: bold;
    padding-left: 50px;
    padding-top: 35px;
    font-size: 25px;
}

.buttonpost{
  box-shadow: 3px 3px lightcoral;
  font-weight: bold;
  margin-top: 10px;
  width: 30%;
}
.buttonpic{
    box-shadow: 3px 3px lightcoral;
    font-weight: bold;
    margin-top: 10px;
    width: 30%;
  }
  .print{
    background-color: white;
    width: 600px;
    height: auto;
    margin-bottom: 20px;
    border: solid 2px lightcoral;
}
.textpost{
    text-align: left;
    margin-left: 100px;
    font-size: 25px;
    margin-bottom: 20px;
    color: black;  
}
.uname{
    margin-top: 2%;
    font-size: 30px;
}
.logo{
    border-radius: 50px;
    background-color: cadetblue;
    margin-top: 10%;
}
 @media (max-width: 1100px) {
    .main{
        width: 70%;
    }
    
    .panel{
        width: 80%;
    }
}

@media (max-width: 730px) {
    .main{
        width: 100%;
    }
    .panel{
        width: 80%;
    }
}