<app-nav-bar></app-nav-bar>  
<app-side-nav></app-side-nav>    
<div class="main">
<div class="container">
    <div class="panel panel-default">
      <div class="panel-body" style="padding: 10px;">
         <div class="grid-container">
            <div class="pic" style="padding-left: 1%"><img src="/src/assets/images/img_avatar.jpg" alt="avatar" width="230" height="230" style="border-radius: 50%"></div>
            
              <div class="name">Aldreen Gabriel Franco</div>
              <div class="colorfont">@francodreezy</div>  
              <div class="style2">CEU MAKATI | COMSCI STUDENT | GOD'S PRINCE </div>        
          </div>
        </div>
      </div>
    </div>


  <div class="container">
      <div class="panel panel-default">
        <div class="panel-body" style="padding: 10px;" >
          <div class="writepost">
           <div><textarea rows="7"cols="150"class="input" id="postarea" style="resize:none" form="usrform" placeholder="What's Up" onkeyup="success()"></textarea></div>
           <div><button type="submit" class="buttonpic" id="post" disabled onclick="myFunction()">UPLOAD PHOTO</button></div>
           <div><button type="submit" class="buttonpost" id="post" disabled onclick="myFunction()">POST</button></div>
        </div>
      </div>
    </div>
  </div>
  </div>