<div class="body">
  <div class="pic img-responsive" style="background-image: url(/src/assets/images/ca2.jpg);">
    <div class="container">
    <div class="login">
      <form [formGroup]="formGroup">
          <div class="col-sm-3" >
            <div class = "loginsubmit">
              <dynamic-form [question]="getQuestion('usernameLogin')" [form]="formGroup" ></dynamic-form>
              <dynamic-form [question]="getQuestion('passwordLogin')" [form]="formGroup"></dynamic-form>
              <br>
              <button class="btn btn-success btn-block" [routerLink]="['../main']" >{{ getComponentName() + '.loginbutton' | translate }}</button>
              <br>
              <a href="/chum/signup" id="link">You don't have an account?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  