@import "~bootstrap/dist/css/bootstrap.min.css";

.body{
    position: fixed;
}

.login {
    margin-left: 770px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    padding-top: 100px;
    width: 100%;
}
.pic{
    width: 1280px;
    height: 700px;
    background-repeat: no-repeat;
}

.loginsubmit{
    margin-top: 80px;
}

.loginbutton{
    text-align: center;  
}
#link{
    text-decoration: underline;

}

