
<app-nav-bar></app-nav-bar>  

<app-side-nav></app-side-nav>

<app-rightbar></app-rightbar>



<div class="main">
    
        <div class="div1 row">
            <div class="mainpost col-lg-10">
                <div class="textboxmain">
                    <dynamic-form [question]="getQuestion('mainPost')" [form]="formGroup"></dynamic-form>
                </div>
                
            </div>
            <div class="col-lg-2">
                <div><button type="submit" id="mainpost" class="btn btn-outline-danger " name="post" (click)="doPost()">{{ getComponentName() + '.post' | translate }}</button></div>
            </div>  
        </div>
            <br>
            <br>
            <br>
            <div *ngFor="let post of posts">
                <div class="print col-sm-12">
                    <div class="row ">
                        <div class="col-sm-2">
                            <img src="/src/assets/images/prof.png" style="width: 70px; height: 70px; padding-right: 10px;">
                        </div>
                        <div class="uname col-sm-9">
                            <p>{{ getComponentName() + '.uname' | translate }}</p>
                        </div>
                        <div class="bookmark col-sm-1">
                            <a><img src="/src/assets/images/savedhover.PNG" style="width: 40px; height: 25px"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 textpost">
                            <p><b>{{ post.content }}</b></p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 borderss" style="background-color:lavender;cursor: pointer;text-align: center">
                            <p><b>{{ getComponentName() + '.like' | translate }}</b></p>
                        </div>
                        <div class="col-sm-6 borderss" style="background-color:lavenderblush;text-align: center;cursor: pointer">
                            <p><b>{{ getComponentName() + '.comment' | translate }}</b></p>

                        </div>
                        <div class="col-sm-3 borderss" style="background-color:lavender;text-align: center;cursor: pointer">
                            <p><b>{{ getComponentName() + '.share' | translate }}</b></p>
                        </div>
                    </div>
            
                </div>
            </div>  
        

    
</div> 




