.main {
  
    background-color: lightgray;
    padding-left: 150px;
    padding-top: 100px;
    z-index: 0;
    height: 1500px; /* Used in this example to enable scrolling */
  }

  .div1{
    width:53%;
    height: 140px;
    margin-left: 1px;
    background-color: white;
    
    }

    #mainpost{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
    
    }

    .print{
        background-color: white;
        width: 53%;
        height: auto;
        margin-bottom: 20px;
    }
    img{
        border-radius: 50px;
        margin-top: 10%;
    }
    .uname{
        margin-top: 2%;
        font-size: 20px;
    }
    .textpost{
        text-align: left;
        margin-left: 100px;
        font-size: 25px;
        margin-bottom: 20px;  
    }
    .bookmark{
        cursor: pointer;
    }
    .borderss{
        border: solid 2px;
        
    }
@media (max-width: 990px) {
    #addDOM{
        width: 100%;
        height: 40px;
        margin-top: 0px;
    }
    .div1{
        position: fixed;
        height: 205px;
        
    }
}

