
<app-nav-bar></app-nav-bar>  

<app-side-nav></app-side-nav>    
<!DOCTYPE html>


<div class="main">
    
        <div class="div1 row">
                <div class="col-lg-10">
                    <textarea class="txtarea form-control"></textarea>
                </div>
                <div class="col-lg-2">
                    <button type="button" name="addDom" id="addDOM" class="buttonPost btn btn-outline-danger pull-right">POST</button>
                </div>  
            </div>
            <br>
            <br>
            <br>
            <div id="here"></div>  
        

    
</div> 




