<form [formGroup]="form">
  <label id="fonts" [for]="question.controlName">{{ question.label }}</label>
  <div [ngSwitch]="question.type">
    <ng-container *ngSwitchCase="'text'">
      <input class="form-control" [formControlName]="question.controlName" [id]="question.controlName" [placeholder]="question.placeholder" [type]="question.type">
    </ng-container>
    <ng-container *ngSwitchCase="'password'">
      <input class="form-control" [formControlName]="question.controlName" [id]="question.controlName" [placeholder]="question.placeholder" [type]="question.type" >
    </ng-container>
    <ng-container *ngSwitchCase="'textarea'">
        <textarea class="input2" [id]="questions.controlName" [formControlName]="question.controlName" [placeholder]="question.placeholder"></textarea>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      <input class="form-control" [formControlName]="question.controlName" [id]="question.controlName" [placeholder]="question.placeholder" [type]="question.type" >
    </ng-container>
    <ng-container *ngSwitchCase="'email'">
      <input class="form-control" [formControlName]="question.controlName" [id]="question.controlName" [placeholder]="question.placeholder" [type]="question.type" >
    </ng-container>
    <ng-container   *ngSwitchCase="'radio'">
      <div class="radio-group" *ngFor="let option of question.options">
         <input class="form-control" [formControlName]="question.controlName" [id]="question.controlName" [type]="question.type">{{ options }} 
      </div>
    
    </ng-container>
    </div>
</form>
