<app-nav-bar></app-nav-bar>  

<app-side-nav></app-side-nav>  

<app-rightbar></app-rightbar>



<div class="main">
    
    <div class="settings">
            <h2 style="color:black; padding: 5%;border-bottom:solid; border-bottom-color: lightgrey;">{{ getComponentName() + '.settings' | translate }}</h2 >
            <div class="set">
              <table>
                <tr>
                  <td>
                    <h2>{{ getComponentName() + '.private' | translate }}</h2> 
                  </td>
                  <td><label class="switch pull-right">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
                    </td>
                </tr>
                <tr>
                  <td><h2>{{ getComponentName() + '.deactivate' | translate }}</h2></td>
                  <td></td>
                </tr>
              </table>
                      
              </div>
    
              <div class="button" style="text-align:center;  margin-top: 180px;">
                <button style=" margin-right: 10%; width: 15%;" class="btn btn-outline-danger" type="button">{{ getComponentName() + '.save' | translate }}</button> 
                <button style="border:solid 1px; border-color:grey; width: 15%;" class="btn btn-default"  type="button">{{ getComponentName() + '.cancel' | translate }}</button> 
    
    
    
              </div>
    
    
    
        </div>
    
    
        
        

    
</div> 




