.main {
  
    background-color: lightgray;
    padding-left:170px;
    padding-top: 100px;
    height: 1500px; /* Used in this example to enable scrolling */
    font-size: 15px;
  }
  .cont1{
    background-color: white;
    width: 500px;
    height: 80px;
    border: 1px solid gray;
    color: pink;
    margin-right:500px;
     
   }
   .avat1{
    width: 100px;
    height: 80px;
    border-radius: 50px;
    margin: 10px;
  }