#navbar{
  width: 100%;
  height: auto;
  background-color: white;
  color: lightcoral;
  position: fixed;
  border-style: solid;
  border-left: 6px;
    border-right: 6px;
}

.container{
  width: 100%;
  height: auto;
}
