@import "~bootstrap/dist/css/bootstrap.min.css";

.body{
    position: fixed;
}

.signup {
    margin-left: 770px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    padding-top: 100px;
    width: 100%;
}
.pic{
    width: 1280px;
    height: 700px;
    background-repeat: no-repeat;
}

.signupsubmit{
    margin-top: 10px;
}

.signupbutton{
    text-align: center;  
}

@media only screen and (max-width: 600px) {
    container {
        width: 100%;
        height: auto;
    }
}

