<div class="body">
  <div class="pic img-responsive" style="background-image: url(/src/assets/images/ca2.jpg);">
    <div class="container">
    <div class="signup">
      <form [formGroup]="formGroup">
          <div class="col-sm-3" >
            <div class = "signupsubmit">
              <dynamic-form [question]="getQuestion('email')" [form]="formGroup" ></dynamic-form>
              <dynamic-form [question]="getQuestion('fullname')" [form]="formGroup"></dynamic-form>
              <dynamic-form [question]="getQuestion('usernameSignup')" [form]="formGroup" ></dynamic-form>
              <dynamic-form [question]="getQuestion('birthday')" [form]="formGroup"></dynamic-form>
              <dynamic-form [question]="getQuestion('gender')" [form]="formGroup"></dynamic-form>
              <dynamic-form [question]="getQuestion('passwordSignup')" [form]="formGroup"></dynamic-form>
              <dynamic-form [question]="getQuestion('confirmpw')" [form]="formGroup" ></dynamic-form>
              <br>
              <button (click)="disable = true" class="btn btn-success btn-block" >{{ getComponentName() + '.signupbutton' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  