.main {
    
    background-color: lightgray;
    padding-left: 150px;
    padding-top: 100px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

.container {

  border: 3px solid lightcoral;
  background-color: white;
  margin-top: 5px;
  margin-left: 10px;
  height: auto;
  width: 53%;

}

.buttonpic{
  box-shadow: 3px 3px lightcoral;
  font-weight: bold;
  font-size: 15px;
  height: 30px;
  width: 30%;
  margin-bottom: 30px;
}

.uploadpic{
  box-shadow: 3px 3px lightcoral;
  font-weight: bold;
  font-size: 15px;
  height: 30px;
  width: 90%;
}

.form-control{
  font-size: 18px;
}

.form-check-label{
  font-size: 18px;
}
.tab1{
  width: 100%;
}
.tab1 td{
  padding: 15px;
}

@media (max-width: 1100px) {
    .main{
        width: 70%;
    }
    .uploadpic{
        width: 100%;
    }
    .container{
        width: 80%;
    }
}

@media (max-width: 730px) {
    .main{
        width: 100%;
    }
    .container{
        width: 80%;
    }
}

